* {
  margin: 0;
  color: rgb(223, 223, 223);
}

*::selection {
  color: rgb(21, 21, 21);
  background-color: rgba(255, 255, 255, 0.897);
}

main {
  background-color: rgb(21, 21, 21);
  width: 100%;
  height: 100vh;
  padding: 24px 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-style: italic;
  font-family: "Roboto";
  font-size: 68px;
}

h1 .a {
  padding-left: 50px;
}

h2 {
  font-weight: lighter
}

nav {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
  box-sizing: border-box;
}

nav .mode {
  border: 0;
  background-color: transparent;
  padding: 10px 12px;
  border-radius: 8px;
}

nav .mode:hover {
  background-color: rgb(15, 15, 15);
  cursor: pointer;
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 24px;
}

.link:hover {
  text-decoration: underline;
}

.other-links {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-top: 86px;
}

.other-links a {
  background-color: rgb(21, 21, 21);
  border-radius: 10px;
  text-decoration: none;
  padding-bottom: 10px;
  font-family: "Roboto";
  padding: 10px 14px;
  font-size: 20px
}

.other-links a:hover {
  background-color: rgba(255, 255, 255, 0.897);
  color: rgb(21, 21, 21);
}